Repository lxgreen/ricos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oded-soffrin, @lxgreen, @justame, @danarish4, @maimonav, @noamtwix

.github/CODEOWNERS:

# general PRs
*   @oded-soffrin @lxgreen 

# Editor Packages
packages/tiptap-*   @justame @lxgreen @oded-soffrin

# Viewer & Plugins 
packages/plugin-*   @danarish4 @lxgreen @oded-soffrin
packages/ricos-viewer  @danarish4 @lxgreen @oded-soffrin

# Platform & Schema
packages/ricos-schema   @maimonav @lxgreen @oded-soffrin
packages/ricos-content   @maimonav @lxgreen @oded-soffrin

packages/toolbars* @noamtwix @justame

[modalBaseAction]: cleanup experiment & change settings modal dependancy to tiptap experiment (#4044)
  examples/storybook/src/shared/resources/experimentsExample.ts
  packages/editor/web/src/RichContentEditor/ModalBaseActions.tsx
  packages/editor/web/src/RichContentEditor/RichContentEditorModal.tsx
  packages/plugin-audio/web/src/modals/AudioInsertModal.tsx
  packages/plugin-audio/web/src/modals/AudioSettings.tsx
  packages/plugin-button/web/src/toolbar/buttonInputModal.jsx
  packages/plugin-file-upload/web/src/toolbar/file-upload-settings.tsx
  packages/plugin-gallery/web/src/components/gallery-settings-modal.js
  packages/plugin-gallery/web/src/components/layout-controls-section.js
  packages/plugin-image/web/src/toolbar/image-settings.js
  packages/plugin-map/web/src/toolbar/MapSettingsModal.jsx
  packages/plugin-social-polls/web/src/components/settings/SettingsModal.jsx
  packages/plugin-social-polls/web/src/components/settings/design-settings-section/DesignSettingsSection.jsx
  packages/plugin-social-polls/web/src/components/settings/edit-poll-section/EditPollSection.jsx
  packages/plugin-social-polls/web/src/components/settings/layout-settings-section/LayoutSettingsSection.jsx
  packages/plugin-social-polls/web/src/components/settings/poll-settings-section/PollSettingsSection.jsx
  packages/plugin-video/web/src/toolbar/video-settings.tsx
Owners: @oded-soffrin, @lxgreen, @danarish4

[audio] fix replace audio on tiptap (#4040)
  CHANGELOG.md
  packages/plugin-audio/web/src/modals/AudioInsertModal.tsx
  packages/plugin-audio/web/src/modals/AudioModal.tsx
  packages/plugin-audio/web/src/modals/AudioUploadModal.tsx
  packages/plugin-audio/web/src/toolbar/audioPluginService.ts
Owners: @oded-soffrin, @lxgreen, @danarish4

[video-plugin]fix: disable right click while video download is disabled (#4048)
  CHANGELOG.md
  packages/plugin-video/web/src/reactPlayerWrapper.js
Owners: @oded-soffrin, @lxgreen, @danarish4

[audio] fix data on replace (#4049)
  CHANGELOG.md
  packages/plugin-audio/web/src/modals/AudioModal.tsx
Owners: @oded-soffrin, @lxgreen, @danarish4

remove toolbars-ui package (#4051)
  packages/toolbars-ui/web/package.json
Owners: @noamtwix, @justame

[changelog]
  CHANGELOG.md
Owners: @oded-soffrin, @lxgreen

[tiptap-extensions] feat: enhance bold/italic toggles with styles (#4053)
  packages/ricos-converters/web/src/index.ts
  packages/ricos-converters/web/src/marks/bold-converter.ts
  packages/ricos-converters/web/src/marks/italic-converter.ts
  packages/ricos-converters/web/src/marks/underline-converter.ts
  packages/ricos-converters/web/src/nodes/blockquote-converter.spec.ts
  packages/ricos-converters/web/src/to-tiptap.spec.ts
  packages/ricos-styles/web/package.json
  packages/ricos-styles/web/src/index.ts
  packages/ricos-styles/web/src/models/styles.ts
  packages/ricos-styles/web/src/styles.spec.ts
  packages/ricos-styles/web/src/styles.ts
  packages/ricos-styles/web/src/text-node-transformer.ts
  packages/tiptap-editor/web/src/common-extensions.ts
  packages/tiptap-extensions/web/package.json
  packages/tiptap-extensions/web/src/bold.tsx
  packages/tiptap-extensions/web/src/content-utils/__tests__/migrationContentTiptap.json
  packages/tiptap-extensions/web/src/index.ts
  packages/tiptap-extensions/web/src/italic.ts
  packages/tiptap-extensions/web/src/ricos-styles.ts
  packages/toolbars-v3/web/src/RicosToolbar.ts
  packages/toolbars-v3/web/src/ToolbarItemCreator.ts
  packages/toolbars-v3/web/src/components/RicosTiptapToolbar.tsx
  packages/toolbars-v3/web/src/components/RicosToolbarComponent.tsx
  packages/toolbars-v3/web/src/toolbarItemConfig/tiptapToolbarItemConfig.ts
  packages/toolbars-v3/web/src/types.ts
Owners: @oded-soffrin, @lxgreen, @justame, @noamtwix

[tiptap-extensions] feat: update document style command (#4055)
  CHANGELOG.md
  packages/ricos-styles/web/src/document-style/document-style.spec.ts
  packages/ricos-styles/web/src/document-style/document-style.ts
  packages/ricos-styles/web/src/index.ts
  packages/ricos-styles/web/src/models/styles.ts
  packages/tiptap-extensions/web/package.json
  packages/tiptap-extensions/web/src/ricos-styles.ts
Owners: @oded-soffrin, @lxgreen, @justame

[toolbars-v3] fix: link & anchor bugs (#4046)
  packages/tiptap-editor/web/package-versions.md
  packages/tiptap-extensions/web/src/link/anchor.ts
  packages/tiptap-extensions/web/src/link/helpers/autolink.ts
  packages/tiptap-extensions/web/src/link/link.ts
  packages/tiptap-extensions/web/src/link/utils.ts
  packages/toolbars-v3/web/src/components/buttons/AnchorLinkButton/AnchorLinkButton.tsx
  packages/toolbars-v3/web/src/components/buttons/UrlLinkButton/UrlLinkButton.tsx
  packages/toolbars-v3/web/src/resolvers/resolvers-ids.ts
  packages/toolbars-v3/web/src/resolvers/tiptapResolvers.ts
  packages/toolbars-v3/web/src/toolbarItemConfig/linkToolbarItemConfig.ts
Owners: @justame, @lxgreen, @oded-soffrin, @noamtwix
